# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store
.idea

# https://www.imagetotext.info/
# https://chatgpt.com/c/67101399-2678-800a-8fdc-d5e4aca65394
